@import '../node_modules/reset-css/reset.css';

body {
  overflow-y: hidden;
}

.container {
  background-color: #6b6b6b;
  height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  margin: none;
  color: whitesmoke;
  align-items: center;
  z-index: 97;
}

.header-bar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  background: linear-gradient(30deg, #fd511d 0%, #fced45 100%);
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgb(255 85 227);
  width: 100px;
  cursor: pointer;
}

.main {
  background: linear-gradient(30deg, #1dfd7e 0%, #fced45 90%);
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgb(85 246 255);
  width: 100px;
  cursor: pointer;
}

.forms {
  background: linear-gradient(30deg, rgb(85 246 255) 10%, rgb(255 85 227) 90%);
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px #1dfd7e;
  width: 100px;
  cursor: pointer;
}

.submit {
  background: linear-gradient(30deg, #fd511d 0%, #fced45 100%);
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px rgb(255 85 227);
  width: 100px;
  cursor: pointer;
  margin-top: 5%;
}

.buttons {
  width: 23%;
  display: flex;
  justify-content: space-between;
}

.form {
  color: red;
}

.search {
  font-size: 15px;
  width: 400px;
  height: 20px;
  border-radius: 25px;
  outline: none;
  border: solid 2px #dddddd;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 2px 2px #ff7300;
  z-index: 99;
}

.search-icon {
  z-index: 100;
  height: 20px;
  position: absolute;
  right: 1%;
  top: 25%;
  margin: auto;
  cursor: pointer;
}

.searcher {
  position: relative;
  width: 400px;
  height: 25px;
  height: fit-content;
  z-index: 98;
}

.card-holder {
  width: 80%;
  height: 60%;
  display: flex;
  background-color: #989898;
  padding: 5% 10% 5% 10%;
  justify-self: center;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 98;
}

.card-holder::-webkit-scrollbar {
  width: 7px;
}

.card-holder::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #626262;
  border-radius: 15px;
}

.card-holder::-webkit-scrollbar-thumb {
  background: linear-gradient(30deg, #fd511d 0%, #fced45 100%);
  border-radius: 20px;
}

.card-holder::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(150deg, #27ffe2 0%, rgb(77, 255, 92) 30%, #e313ff 50%, #fff800 100%);
}

.card,
.song-card {
  background-color: #6b6b6b;
  display: flex;
  position: relative;
  width: 230px;
  height: 220px;
  margin: 2%;
  flex-direction: column;
  border-radius: 15px;
  padding: 3px;
  justify-content: space-around;
  padding: 5px;
}

.card {
  align-items: center;
}

.card:hover {
  cursor: pointer;
  animation: ani 2s linear infinite;
}

@keyframes ani {
  0% {
    box-shadow: 2px 2px 10px #e355ff, -5px -5px 15px #e355ff;
  }

  30% {
    box-shadow: 2px 2px 10px #fd511d, -5px -5px 15px #fd511d;
  }

  70% {
    box-shadow: 2px 2px 10px #fced45, -5px -5px 15px #fced45;
  }

  100% {
    box-shadow: 2px 2px 10px #e355ff, -5px -5px 15px #e355ff;
  }
}

.poster,
.cover {
  border-radius: 15px;
  width: 125px;
  height: 125px;
  margin: 3px;
}

.poster {
  width: 170px;
  height: 150px;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.course {
  cursor: pointer;
}

html, body {
  overflow-x:hidden 
} 

.forms-component {
  display: flex;
  position: relative;
  background-color: #989898;
  height: fit-content;
  min-width: 100vw;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  margin: none;
  color: whitesmoke;
  align-items: center;
}

.form-components,
.main-form {
  background-color: #6b6b6b;
  border-radius: 15px;
  margin-top: 3%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-components {
  padding: 0.7%;
}

.form-cards {
  width: 80%;
  height: fit-content;
  display: flex;
  background-color: #989898;
  padding: 5% 10% 5% 10%;
  justify-self: center;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

.song-card {
  color: #fff;
  font-size: 0.9rem;
}

.song-name {
  font-weight: 600;
  margin: 5px;
}

.song-card {
  width: 200px;
  height: 210px;
  padding: 1%;
}

.footer {
  background-color: #6b6b6b;
}

.textInput,
.checkbox-form,
.checkbox-name,
.dropdown-form,
.date-form,
.switcher-form,
.switcher-name {
  margin-bottom: 2%;
}

.checkbox-form,
.dropdown-form,
.switcher {
  display: flex;
  justify-content: space-around;
}

.album-choice,
.release-date {
  margin-right: 4px;
}

.cover-upload,
.album-choice,
.release-date,
.switcher-name,
.checkbox-name,
.textinput-name, .form-components-name {
  font-weight: 600;
}

.form-components-name {
  font-size: large;
}

.overlay {
  position: absolute;
  background-color: #00000048;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: hidden;
}

.open-card {
  width: 60%;
  height: 60%;
  display: flex;
  z-index: 100;
  background-color: #6b6b6b;
  position: absolute;
  box-shadow: inset 0 0 7px #434343;
  border-radius: 35px;
  padding: 2%;
  flex-direction: column;
}

.cross {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  display: flex;
  cursor: pointer;
}

.close-icon {
  width: 30px;
  height: 30px;
}

.mv-link {
  cursor: pointer;
  width: fit-content;
  animation: ani 2s linear infinite;
}

.poster-opened {
  width: 400px;
  height: 100%;
  border-radius: 25px;
}

.card-data {
  display: flex;
  flex-direction: row;
  width: 800px;
  min-height: 300px;
  align-self: center;
  justify-self: center;
  padding: 3%;
}

.card-main-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details {
  margin: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
}

.album-name {
  margin-bottom: 3%;
  margin-left: 3%;
  font-weight:600;
  font-size: 20px;
}

.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.loading-container {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: #989898;
  padding: 5% 10% 5% 10%;
  justify-self: center;
  justify-content: center; 
  align-items: center;
}

.loading-bg {
  margin-top: 10px;
  height: 5px;
  width: 150px;
  border-radius: 5px;
    background-image: linear-gradient(
      150deg,
      #27ffe2 0%,
      rgb(77, 255, 92) 30%,
      #e313ff 50%,
      #fff800 100%
    );
    background-size: 200% auto;
    animation: loading 1s linear infinite;
    height: 2px;
    width: 45%;
} 

@keyframes loading {
  to {
    background-position: 200% center;
  }
}